body{

    background-color: antiquewhite;

}

h1{

    text-align: center;
    font-size: xx-large;

}

.reportnopagina3{

    font-size: x-large;
    color: #1e1e81;

}

.parrafo6{

    margin: auto;
    text-align: center;
    font-size: x-large;
    color: crimson;

}

.h2{

    text-align: center;
    color: darkslategray;

}